{{define "title"}}
  Niomic Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<section class="bg-1 h-900x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
    <div class="dplay-tbl">
      <div class="dplay-tbl-cell center-text color-white">
        <h5><b>TERBAIK DI INDONESIA</b></h5>
        <h1 class="mt-30 mb-15">Pizza & Pasta</h1>
        <h5><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a></h5>
      </div>
    </div>
  </div>
</section>

<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>

  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Story</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="mb-30">Niomis dari ide Niom Anastasia dan Irene Iis yang bersahabat sejak 10 tahun silam. Kedua wanita yang sudah berkeluarga dan memiliki anak. Mereka gemar makan dan mngeunjungi berbagai macam tempat makan pizza dan pasta. Kami ingin membuat resto yang unik, ketika orang datang, langsung nyangkut dan buat orang nggak bosan untuk datang terus. Makanannya pun yang bisa dimakan semua orang dan bisa dimakan setiap hari. Mau makan berat pun bisa dan jam berapapun bisa</p>
      </div>
      <div class="col-md-6">
        <p class="mb-30" style="padding-right: 30px;">Semua sajian menu yang ada yang di niomis tak lepas dari ide keduanya akan resep apa yang pas untuk disajikan kepada pelanggan. Sebelum memutuskan membuka restoran, Niom dan Iis memastikan tempat yang bisa sesuai keinginannya</p>
      </div>
    </div>
  </div>
</section>
{{end}}
