{{define "title"}}
  Niomic Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<section class="bg-1 h-900x main-slider pos-relative">
  <div class="triangle-up pos-bottom"></div>
  <div class="container h-100">
    <div class="dplay-tbl">
      <div class="dplay-tbl-cell center-text color-white">
        <h5><b>TERBAIK DI INDONESIA</b></h5>
        <h1 class="mt-30 mb-15">Pizza & Pasta</h1>
        <h5><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari Ini</b></a></h5>
      </div>
    </div>
  </div>
</section>

<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>

  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Story</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="mb-30">Niomis dari ide Niom Anastasia dan Irene Iis yang bersahabat sejak 10 tahun silam. Kedua wanita yang sudah berkeluarga dan memiliki anak. Mereka gemar makan dan mngeunjungi berbagai macam tempat makan pizza dan pasta. Kami ingin membuat resto yang unik, ketika orang datang, langsung nyangkut dan buat orang nggak bosan untuk datang terus. Makanannya pun yang bisa dimakan semua orang dan bisa dimakan setiap hari. Mau makan berat pun bisa dan jam berapapun bisa</p>
      </div>
      <div class="col-md-6">
        <p class="mb-30" style="padding-right: 30px;">Semua sajian menu yang ada yang di niomis tak lepas dari ide keduanya akan resep apa yang pas untuk disajikan kepada pelanggan. Sebelum memutuskan membuka restoran, Niom dan Iis memastikan tempat yang bisa sesuai keinginannya</p>
      </div>
    </div>
  </div>
</section>

<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>

  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Best Sellers</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200px mlr-auto pos-relative">
            <h6 class="ribbon-cont"><div class="ribbon-primary"><b></b></div></h6>
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza Cheeseburger</h5>
          <h4 class="mt-5"><b>Rp. 250.000</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
        </div>
      </div>

    </div>

    

    <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25">Lihat Menu Hari Ini</a></h6>

  </div>
</section>

<section>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Menu</h2>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="selecton brdr-b-primary mb-70">
          <li><a href="#" class="active" data-select="*"><b>ALL</b></a></li>
          <li><a href="#" data-select="Pizza"><b>PIZZA</b></a></li>
          <li><a href="#" data-select="Pasta"><b>PASTA</b></a></li>
          <li><a href="#" data-select="Appetizer"><b>APPETIZER</b></a></li>
          <li><a href="#" data-select="Dessert"><b>DESSERT</b></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      {{range .data}}
      <div class="col-md-6 food-menu {{.Jenis}}">
        <div class="sided-90x mv-30">
          <div class="s-left"><img src="static/images/{{.Url_gambar}}" alt="Menu Image" class="br-3"></div>
          <div class="s-right">
            <h5 class="mb-10"><b>{{.Nama_menu}}</b><b class="color-primary float-right">Rp.{{.Harga}}</b></h5>
            <p class="pr-70">{{.Deskripsi}}</p>
            <a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a>
          </div>
        </div>
      </div> 
      {{end}}

      
    </div>

  </div>
</section>
{{end}}
